@import "../../index.less";

.v-Root {
    overflow: scroll;
    background-color: @main-front-color;
    height: 100%;
}

.v-Sidebar {
    height: 100%;
    margin-top: 100px;
}
.v-Workarea {
    margin-top: 100px;
    display: inline-flex;
}

.v-Workarea-Content {
    background-color: @main-panels-color;
    width: calc(~"100% - 20%");
    margin-left: 20px;
    margin-right: 50px;
    border-radius: 4px;
    box-shadow: 0 0 3px grey;
}
