@import "../../index.less";

.v-Root {
    height: 100%;
    background-color: @main-front-color;
}

.v-Workarea {
    display: flex;
    height: 100%;
}

.v-Workarea-Content {
    background-color: @main-panels-color;
    width: calc(~"100% - 20%");
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    box-shadow: 2px 3px grey;
}
