@import "../../index.less";

.c-Main-Header {
    height: 60px;
    background-color: @main-bg-color;
    color: white;
    width: 100%;
}

.c-Header-Toggle {
    float: left;
    position: absolute;
    bottom: 0;
}

.c-Header-Welcome {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}
